[submodule "includes/admin-notices"]
	path = includes/admin-notices
	url = https://github.com/YahnisElsts/admin-notices.git
[submodule "includes/flatpickr"]
	path = includes/flatpickr
	url = https://github.com/flatpickr/flatpickr.git