section.form-opening-hours {

  width: 100%;
  max-width: 600px;

  margin: auto;

  $col-day-width: 20%;
  $col-times-width: 60%;
  $col-options-width: 10%;

  $col-time-width: 40%;
  $col-delete-width: 20%;

  $screen-breakpoint: 782px;

  $color-green: green;
  $color-red: red;

  div.period-table {
    width: 100%;
    div.period {
      .input-timepicker {
          width: 70px;
          box-shadow: none;
          background: #efefef;
          border: 1px solid #cccccc;
          text-align: center;
        }
      .col-time-start, .col-time-end {
          width: $col-time-width;
          text-align: center;
        }
      .col-delete-period {
          width: $col-delete-width;
          text-align: left;
        }
      }
  }

  div.periods-day {
    &:not(:first-child){
      margin-top: 1rem;
    }
    div.col-name {
      width: $col-day-width;
      font-weight: bold;
    }
    div.col-options {
      width: $col-options-width;
      .add-period {
        color: $color-green;
        box-shadow: inset 0 0 0 1px $color-green;
        padding: 2px 1px 0 0;
      }
    }
  }

    @media ( max-width: 530px ) {
      .input-timepicker {
        font-size: 12px;
      }
    // /responsive
  }
} 
.field h4.heading {
  margin-bottom:    0;

  + p {
    margin-top:     5px;

    > small {
      font-size:    12px;
    }
  }
}